<div class="menuBackground">
    
</div>
<div id="login-background">
    <h1 class="login-mainHeading"><%= title %></h1>

    <div id="form-container">
    
        <form id="login-form" action="">
            <div class="container">
                <label for="email">Username</label>
                <input id="email" type="text" placeholder="Enter Username" name="email" required>
        
                <label for="password">Password</label>
                <input id="password" type="password" placeholder="Enter Password" name="psw" required>
                <button type="submit"><b>Login</b></button>
                <p>No account? <a href="/account/register">Sing-up</a></p>
            </div>
        </form>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>