<div class="toggle-container"><iconify-icon icon="mdi:hamburger-menu" class="toggle"></iconify-icon></div>
<nav>
    <ul>
        <li>Home</li>
        <li>Custome</li>
        <li>Sedan</li>
        <li>SUV</li>
        <li>nav</li>
    </ul>
</nav>