<div class="menuBackground">
    
</div>
<h1 class="mainHeading"><%= title %></h1>

<a href="/inv/addClassification" class="management-btn">Add A New Classification</a>

<a href="/inv/addInventory" class="management-btn">Add A New Vehicle</a>
<br>
<br>
<br>
